:root {
    --background_color: rgb(30, 30, 30);
    --widget_color: rgb(67, 67, 67);
    --widget_hover_color: rgb(100, 100, 100);
    --widget_disabled_color: rgb(195, 195, 195);
    --foreground_color: white;
    --accent-color: rgb(255, 0, 0);
    --button_border_color: rgb(204, 204, 204);
    --text_border_color: rgb(146, 146, 146);

    --title-font: Arial, Helvetica, sans-serif;
    --paragraph-font: 'Verdana';
    --standard_font: system-ui;
    --monospace_font: 'Courier New', Courier, monospace;

    --standard_fontsize: 14px;
    --small_fontsize: 10px;
}

body {
    background-color: var(--background_color);
    color: var(--foreground_color);
    font-size: var(--standard_fontsize);
    font-family: var(--standard_font);
}

h1 {
    font-size: min(40px, max(4vw, 30px));
    font-family: var(--title-font);
}
h2 {
    font-size: min(30px, max(3vw, 20px));
    font-family: var(--title-font);
}
h3 {
    font-size: min(25px, max(2vw, 15px));
    font-family: var(--title-font);
}
h4 {
    font-size: min(23px, max(2vw, 13px));
    font-family: var(--title-font);
}
p {
    font-size: min(16px, max(2vw, 10px));
    font-family: var(--paragraph-font);
}
label {
    display: inline-block;
    width: 30vw;
}

small {
    display: inline-block;
    font-size: var(--small_fontsize);
}

textarea {
    width: 99%;
    height: 20vw;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: var(--foreground_color);
    background-color: var(--widget_color);
    font-family: var(--monospace_font);
    border: solid 1px transparent;
    border-radius: 5px;
}

div[class="separator"] {
    display: block;
    height: 1vh;
}

input[type="text"] {
    color: var(--foreground_color);
    background-color: var(--widget_color);
    padding: .2rem .2rem;
    border-radius: .2rem;
    border: 1px solid transparent;
    font-family: var(--monospace_font);
    width: 45vw;
}

input[type="checkbox"] {
    display: inline-block;
    accent-color: var(--accent-color);
    border: 1px solid var(--button_border_color);
}

a[class="button"], button {
    background-color: var(--widget_color);
    border: 1px solid var(--button_border_color);
    border-radius: .5rem;
    box-sizing: border-box;
    color: var(--foreground_color);
    font-family: var(--standard_font);
    font-weight: 600;
    line-height: 1.25rem;
    padding: .18rem .5rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

a[class="button"]:hover, button:hover {
    background-color: var(--widget_hover_color);
}

a[class="button"]:disabled, button:disabled {
    background-color: var(--widget_disabled_color);
}


a[class="button"]:focus, button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

a[class="button"]:focus-visible, button:focus-visible {
    box-shadow: none;
}